<h1>Show</h1>
ID : <%= @post_id.id %> <br>
Title : <%= @post_id.title %> <br>
Content : <%= @post_id.content %><br>
Created_at : <%= @post_id.created_at %><br>
Updated_at : <%= @post_id.updated_at %><br>

<hr>
<a href="/post/index">Back</a>